@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.image {
    width: 30rem;
    height: 30rem;
    padding: 20px;
}

.images {
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.openhours {
    height: 30vh;
}

.banner {
    width: 100%;
    height: 100vh;
}

.container-text {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 8vh;
    transform: translate(-50%, -50%);
    font-family: 'Ubuntu', sans-serif;
    contain: content;
    margin: 40px;
}

.text-over {
    text-align: center;
    color: white;
    font-family: 'Mooli', sans-serif;
    justify-content: center;
    display: flex;
    text-align: center;
    filter: brightness(50%);
}

body {
    background-color: bisque;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.second-part {
    width: 100%;
    height: 60vh;
}

.second-part image {
    width: 50%;
}

.third-parts {
    font-size: 24px;
    height: 30vh;
    align-items: center;
    display: flex;
}

/* Pages styling */
.contact {
    min-height: 100vh;
    align-items: center;
    display: flex;
}

.home-page {
    color: rgb(0, 0, 0);
    font-size: 30px;
    height: 50vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.home-page h1 {
    font-size: 25px;
}

.container-take-away {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.images-left img {
    width: 20vw;
    left: 0;
}

.images-right img {
    width: 20vw;
    right: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.App {
    min-height: 100vh;
}

.footer {
    margin-top: auto;
    display: flex;
    margin: 0 auto;
    color: white;
    justify-content: center;
    align-items: center;
    height: 7rem;
    font-size: 20px;
    background-color: black;
    width: 100%;
}

.heading {
    margin: 0 auto;
}

.logo,
.nav-btn {
    color: #f2e825;
    font-family: 'Nunito', sans-serif;
}

nav {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    z-index: 5;
}

.logotype {
    width: 30rem;
    align-items: center;
    padding: 0.5rem;
}

.logo {
    text-decoration: none;
    font-style: var(--secondaryColor);
    font-size: 30px;
    color: #f2e825;
}

.logo a:hover {
    color: var(--textColor);
    transition: ease-in-out 0.5s;
}

.logo a {
    text-decoration: none;
    font-style: normal;
    color: #f2e825;
}

:root {
    --mainColor: #29335c;
    --mainColorLight: #434343;
    --secondaryColor: #f2e825;
    --textColor: #eee;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background: black;
    color: var(--textColor);
    margin: 0 auto;
}

nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 30px;
    transition: ease-in-out 0.5s;
}

nav a:hover {
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}


header div,
nav {
    display: flex;
    align-items: center;
}

.container,
h1,
h4 {
    text-align: center;
}

.container h4 {
    font-size: 20px;
}

.center {
    height: 50vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box {
    padding: 50px;
    text-align: left;
    margin: 0 auto;
    letter-spacing: 1px;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: content;
    color: white;
}

video {
    width: 70%;
}


@media only screen and (max-width: 768px) {
    body {
        background: bisque;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .third-parts {
        align-items: center;
        height: 30vh;
        justify-content: center;
        contain: content;
        color: rgb(0, 0, 0);
        font-size: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: bisque;

    }

    .banner {
        height: 50vh;
    }

    .image {
        width: 10rem;
        padding: 5px;
        height: 10rem;
        display: flex;
        flex-direction: column;

    }

    .second-part {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }



    /*  .second-part image {
        width: 8vw;
        flex-direction: column;
        display: flex;
        height: 8vh;
        flex-wrap: wrap;
        padding: 10px;
        margin: 0 auto;
    } */

    .home-page {
        width: 100%;
        font-size: 20px;
        height: 25vh;

    }

    .centered {
        width: 70%;
        height: 5vh;
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .text-over {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
    }

    header .responsive_nav {
        transform: translateY(100vh);
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;

    }

    nav a {
        font-size: 1.5rem;
    }

    .logo {
        text-decoration: none;
        font-style: var(--secondaryColor);
        font-size: 20px;
        color: #f2e825;
    }
}