@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

body {
    background-image: url("/src/assets/22.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contact {
    min-height: 100vh;
    align-items: center;
    display: flex;
}

.home-page {
    color: white;
    font-size: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.App {
    min-height: 100vh;
}

.footer {
    margin-top: auto;
    display: flex;
    margin: 0 auto;
    color: white;
    justify-content: center;
    align-items: center;
    height: 7rem;
    font-size: 20px;
    background-color: transparent;
    width: 100%;
}


.heading {
    margin: 0 auto;

}

.logo,
.nav-btn {
    color: #f2e825;
}

.logo {
    text-decoration: none;
    font-style: var(--secondaryColor);
    font-size: 30px;
    color: #f2e825;
}

.logo a:hover {
    color: var(--textColor);
    transition: ease-in-out 0.5s;
}

.logo a {
    text-decoration: none;
    font-style: normal;
    color: #f2e825;
}

:root {
    --mainColor: #29335c;
    --mainColorLight: #434343;
    --secondaryColor: #f2e825;
    --textColor: #eee;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background: black;
    color: var(--textColor);
    margin: 0 auto;
}

nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 30px;
    transition: ease-in-out 0.5s;
}

nav a:hover {
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}


header div,
nav {
    display: flex;
    align-items: center;
}

.container,
h1,
h4 {
    text-align: center;
}

.container h4 {
    font-size: 20px;
}

.center {
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box {
    padding: 50px;
    text-align: left;
    margin: 0 auto;
    letter-spacing: 1px;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: content;
    color: white;
}

video {
    width: 70%;
}

@media only screen and (max-width: 768px) {
    body {
        background: url("/src/assets/22.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
    }

    header .responsive_nav {
        transform: translateY(100vh);
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;

    }

    nav a {
        font-size: 1.5rem;
    }

    .logo {
        text-decoration: none;
        font-style: var(--secondaryColor);
        font-size: 20px;
        color: #f2e825;
    }
}